
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 10vh;
    background-color: aqua;
    border: 1px solid black;
}
.main{
    height: 80vh;
    background-color: bisque;
    border: 1px solid black;
    display: flex;

}
.main .one{
    background-color: rgb(128, 78, 175);
    border: 1px solid black;
    padding: 2px;
}
.main .two{
    background-color: rgb(164, 107, 27);
    border: 1px solid black;
    padding: 2px;
}
.main .three{
    background-color: rgb(38, 228, 57);
    border: 1px solid black;
    padding: 2px;
}
.footer{
    height: 10vh;
    background-color: rgb(120, 28, 28);
}